/* VARS */

:root {
    --primary-color: #0a1128;
    --secondary-color: #ccc;
    --accent-color: #184e77;

}


/* GENERAL */
* {
    margin: 0;
    padding: 0;
}


*:focus {
    outline: none;
}

/* Container */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fefffe;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: auto;
    min-height: 100vh;
    padding: 2em;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-attachment: #eff7f6;

    border-radius: 9px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.2);

}

/* HEADER */
.header {
    display: block;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 0px;
    width: 100%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    border-bottom: solid 1px red;
}

.title {
    font-size: 30px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-bottom: 15px;
}

/* TASKS  FORM */

.form-task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: auto;
}

.form-task input,
.form-task textarea {
    display: block;
    width: auto;
    max-width: 95%;
    height: auto;
    padding: 10px;
    cursor: pointer;
    border: solid 1px var(--secondary-color);
    font-size: 18px;
}

.form-task textarea {
    width: 95%;
    margin: 10px;
    margin-right: 0;
    background-color: #eee;
    color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-task input[type="submit"] {
    min-width: 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.form-task input[type="submit"]:nth-child(3):hover {
    background-color: var(--accent-color);
}

.form-task input[type="submit"]:nth-child(3):active {
    transform: scale(1.1);
}

.form-task {
    color: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrap-option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

/* TASKS */
.tasks {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 20px;
}

.tasks .list {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
}


.tasks .list .item {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 40px;
    list-style-type: none;
    height: auto;
    padding: 15px 5px;
    border-bottom: solid 1px #ccc;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks .list .item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.tasks .options img {
    justify-self: flex-end;
}

.tasks .options img {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.tasks .options img:hover {
    transform: scale(1.1);
}


.tasks .options img:active {
    transform: scale(1);
}

.tasks .task .date {
    width: auto;
    color: #555;
    display: block;
    padding-bottom: 0px;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

.date-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks .task .date.date-green {
    color: rgb(13, 156, 13);
    border: solid 1px rgb(13, 156, 13);
}

.tasks .task .date.date-danger {
    color: rgb(173, 25, 25);
    border: solid 1px rgb(173, 25, 25);

}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER */

#footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ccc;
    margin-top: 40px;
}

.info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.info img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
}


.info img:active {
    transform: scale(1.1);
}

.info span {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}