<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Player Albums </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>

<body>

    <!-- HEADER -->

    <header id="header">
        <h1>Web Player</h1>

        <div class="nav-wrap">
            <nav id="nav">
                <ul>
                    <li><a href="#">Artistas</a></li>
                    <li><a class="active" href="#">Albums</a></li>
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- CONTAINER -->
    <section class="container container-flex">

        <!-- SEARCH -->
        <div class="search-wrap">
            <section class="search">
                <form action="#">
                    <input type="text" name="q" id="q"><input type="submit" value="Buscar">
                </form>
            </section>
        </div>

        <!-- ARTISTS -->
        <section class="card-container">
            <h2>Albums</h2>

            <div class="row">
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
                <a href="#" class="card">
                    <div class="image-wrap">
                        <img src="https://via.placeholder.com/200x200" alt="">
                    </div>
                    <div class="info">
                        <h5 class="title">Name</h5>
                        <h6 class="subtitle">Artista</h6>
                    </div>
                </a>
            </div>
        </section>
    </section>

    <!-- FOOTER -->

    <footer id="footer">
        <div class="footer-wrap">
            <p>Creado por Alexander</p>
            <a target="_blank" href="http://github.com/alexander-ctrl"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>
    </footer>

</body>

</html>